<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>138.17.0.133677</string>
	</array>
	<key>CreationDate</key>
	<string>2011-08-04 10:20:32 +0300</string>
	<key>Creator</key>
	<string>Elias Medawar</string>
	<key>GraphDocumentVersion</key>
	<integer>6</integer>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>ImageCounter</key>
	<integer>16</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image15.tiff</string>
		<string>image14.PNG</string>
		<string>image13.PNG</string>
		<string>image12.tiff</string>
		<string>image11.tiff</string>
		<string>image10.tiff</string>
		<string>image9.tiff</string>
		<string>image8.tiff</string>
		<string>image7.tiff</string>
		<string>image6.tiff</string>
		<string>image5.tiff</string>
		<string>image4.tiff</string>
		<string>image3.tiff</string>
	</array>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2011-08-04 11:09:58 +0300</string>
	<key>Modifier</key>
	<string>Elias Medawar</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperName</key>
		<array>
			<string>string</string>
			<string>A4</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{595, 842}</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>Sheets</key>
	<array>
		<dict>
			<key>ActiveLayerIndex</key>
			<integer>0</integer>
			<key>AutoAdjust</key>
			<true/>
			<key>BackgroundGraphic</key>
			<dict>
				<key>Bounds</key>
				<string>{{0, 0}, {1118, 783}}</string>
				<key>Class</key>
				<string>SolidGraphic</string>
				<key>ID</key>
				<integer>2</integer>
				<key>Style</key>
				<dict>
					<key>shadow</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
					<key>stroke</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
				</dict>
			</dict>
			<key>CanvasOrigin</key>
			<string>{0, 0}</string>
			<key>ColumnAlign</key>
			<integer>1</integer>
			<key>ColumnSpacing</key>
			<real>36</real>
			<key>DisplayScale</key>
			<string>1 0/72 in = 1 0/72 in</string>
			<key>GraphicsList</key>
			<array>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ControlPoints</key>
					<array>
						<string>{61, -39.3333}</string>
						<string>{46.843, 124.364}</string>
					</array>
					<key>Head</key>
					<dict>
						<key>ID</key>
						<integer>8</integer>
						<key>Info</key>
						<integer>1</integer>
					</dict>
					<key>ID</key>
					<integer>16</integer>
					<key>Points</key>
					<array>
						<string>{409, 530}</string>
						<string>{592, 412}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Bezier</key>
							<true/>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.2</string>
								<key>g</key>
								<string>0.2</string>
								<key>r</key>
								<string>0.8</string>
							</dict>
							<key>HeadArrow</key>
							<string>FilledArrow</string>
							<key>LineType</key>
							<integer>1</integer>
							<key>TailArrow</key>
							<string>FilledArrow</string>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
					<key>Tail</key>
					<dict>
						<key>ID</key>
						<integer>7</integer>
						<key>Info</key>
						<integer>2</integer>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ControlPoints</key>
					<array>
						<string>{-227.281, 80.0413}</string>
						<string>{204.868, -127.091}</string>
					</array>
					<key>Head</key>
					<dict>
						<key>ID</key>
						<integer>7</integer>
						<key>Info</key>
						<integer>1</integer>
					</dict>
					<key>ID</key>
					<integer>15</integer>
					<key>Points</key>
					<array>
						<string>{781, 315}</string>
						<string>{91, 418}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Bezier</key>
							<true/>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.2</string>
								<key>g</key>
								<string>0.2</string>
								<key>r</key>
								<string>0.8</string>
							</dict>
							<key>HeadArrow</key>
							<string>FilledArrow</string>
							<key>LineType</key>
							<integer>1</integer>
							<key>TailArrow</key>
							<string>FilledArrow</string>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
					<key>Tail</key>
					<dict>
						<key>ID</key>
						<integer>6</integer>
						<key>Info</key>
						<integer>4</integer>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ControlPoints</key>
					<array>
						<string>{18.5384, 72.8718}</string>
						<string>{36.8425, -36.0246}</string>
					</array>
					<key>ID</key>
					<integer>13</integer>
					<key>Points</key>
					<array>
						<string>{743, 122}</string>
						<string>{680.513, 289.744}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Bezier</key>
							<true/>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.2</string>
								<key>g</key>
								<string>0.2</string>
								<key>r</key>
								<string>0.8</string>
							</dict>
							<key>HeadArrow</key>
							<string>FilledArrow</string>
							<key>LineType</key>
							<integer>1</integer>
							<key>TailArrow</key>
							<string>FilledArrow</string>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
					<key>Tail</key>
					<dict>
						<key>ID</key>
						<integer>6</integer>
						<key>Info</key>
						<integer>3</integer>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ControlPoints</key>
					<array>
						<string>{119, -42}</string>
						<string>{-118, -89}</string>
					</array>
					<key>Head</key>
					<dict>
						<key>ID</key>
						<integer>6</integer>
						<key>Info</key>
						<integer>1</integer>
					</dict>
					<key>ID</key>
					<integer>9</integer>
					<key>Points</key>
					<array>
						<string>{150, 167}</string>
						<string>{627, 176}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Bezier</key>
							<true/>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.2</string>
								<key>g</key>
								<string>0.2</string>
								<key>r</key>
								<string>0.8</string>
							</dict>
							<key>HeadArrow</key>
							<string>FilledArrow</string>
							<key>LineType</key>
							<integer>1</integer>
							<key>TailArrow</key>
							<string>FilledArrow</string>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
					<key>Tail</key>
					<dict>
						<key>ID</key>
						<integer>5</integer>
						<key>Info</key>
						<integer>1</integer>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{513, 404.5}, {511, 377}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>8</integer>
					<key>ImageID</key>
					<integer>6</integer>
					<key>Magnets</key>
					<array>
						<string>{-0.345401, -0.480106}</string>
					</array>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{0, 404.5}, {509, 373}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>7</integer>
					<key>ImageID</key>
					<integer>5</integer>
					<key>Magnets</key>
					<array>
						<string>{-0.321218, -0.463807}</string>
						<string>{0.303536, -0.163539}</string>
					</array>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{513, 16.5}, {513, 373}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>6</integer>
					<key>ImageID</key>
					<integer>4</integer>
					<key>Magnets</key>
					<array>
						<string>{-0.277778, -0.0723861}</string>
						<string>{-0.174464, 0.230563}</string>
						<string>{-0.051657, -0.217158}</string>
						<string>{0.0224172, 0.300268}</string>
					</array>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{0, 16.5}, {513, 375}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>5</integer>
					<key>ImageID</key>
					<integer>3</integer>
					<key>Magnets</key>
					<array>
						<string>{-0.207602, -0.0986667}</string>
					</array>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
			</array>
			<key>GridInfo</key>
			<dict/>
			<key>HPages</key>
			<integer>2</integer>
			<key>KeepToScale</key>
			<false/>
			<key>Layers</key>
			<array>
				<dict>
					<key>Lock</key>
					<string>NO</string>
					<key>Name</key>
					<string>Calque 1</string>
					<key>Print</key>
					<string>YES</string>
					<key>View</key>
					<string>YES</string>
				</dict>
			</array>
			<key>LayoutInfo</key>
			<dict>
				<key>Animate</key>
				<string>NO</string>
				<key>circoMinDist</key>
				<real>18</real>
				<key>circoSeparation</key>
				<real>0.0</real>
				<key>layoutEngine</key>
				<string>dot</string>
				<key>neatoSeparation</key>
				<real>0.0</real>
				<key>twopiSeparation</key>
				<real>0.0</real>
			</dict>
			<key>Orientation</key>
			<integer>2</integer>
			<key>PrintOnePage</key>
			<false/>
			<key>RowAlign</key>
			<integer>1</integer>
			<key>RowSpacing</key>
			<real>36</real>
			<key>SheetTitle</key>
			<string>iPad</string>
			<key>UniqueID</key>
			<integer>1</integer>
			<key>VPages</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>ActiveLayerIndex</key>
			<integer>0</integer>
			<key>AutoAdjust</key>
			<true/>
			<key>BackgroundGraphic</key>
			<dict>
				<key>Bounds</key>
				<string>{{0, 0}, {1118, 1566}}</string>
				<key>Class</key>
				<string>SolidGraphic</string>
				<key>ID</key>
				<integer>2</integer>
				<key>Style</key>
				<dict>
					<key>fill</key>
					<dict>
						<key>GradientColor</key>
						<dict>
							<key>w</key>
							<string>0.666667</string>
						</dict>
					</dict>
					<key>shadow</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
					<key>stroke</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
				</dict>
			</dict>
			<key>CanvasOrigin</key>
			<string>{0, 0}</string>
			<key>ColumnAlign</key>
			<integer>1</integer>
			<key>ColumnSpacing</key>
			<real>36</real>
			<key>DisplayScale</key>
			<string>1 0/72 in = 1.0000 in</string>
			<key>GraphicsList</key>
			<array>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ControlPoints</key>
					<array>
						<string>{46.7865, -57.4248}</string>
						<string>{-1.36981, 1.36987}</string>
					</array>
					<key>Head</key>
					<dict>
						<key>ID</key>
						<integer>10</integer>
						<key>Info</key>
						<integer>1</integer>
					</dict>
					<key>ID</key>
					<integer>23</integer>
					<key>Points</key>
					<array>
						<string>{577.753, 1291.78}</string>
						<string>{694.192, 1271.23}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Bezier</key>
							<true/>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0.2</string>
								<key>r</key>
								<string>0.8</string>
							</dict>
							<key>HeadArrow</key>
							<string>FilledArrow</string>
							<key>LineType</key>
							<integer>1</integer>
							<key>TailArrow</key>
							<string>FilledArrow</string>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
					<key>Tail</key>
					<dict>
						<key>ID</key>
						<integer>9</integer>
						<key>Info</key>
						<integer>1</integer>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ControlPoints</key>
					<array>
						<string>{0, 0}</string>
						<string>{-123.883, 12.4801}</string>
					</array>
					<key>Head</key>
					<dict>
						<key>ID</key>
						<integer>9</integer>
						<key>Info</key>
						<integer>2</integer>
					</dict>
					<key>ID</key>
					<integer>22</integer>
					<key>Points</key>
					<array>
						<string>{255.836, 1313.7}</string>
						<string>{402.411, 1227.4}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Bezier</key>
							<true/>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0.2</string>
								<key>r</key>
								<string>0.8</string>
							</dict>
							<key>HeadArrow</key>
							<string>FilledArrow</string>
							<key>LineType</key>
							<integer>1</integer>
							<key>TailArrow</key>
							<string>FilledArrow</string>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
					<key>Tail</key>
					<dict>
						<key>ID</key>
						<integer>12</integer>
						<key>Info</key>
						<integer>2</integer>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ControlPoints</key>
					<array>
						<string>{-365.753, 306.849}</string>
						<string>{2.73972, -1.36987}</string>
					</array>
					<key>Head</key>
					<dict>
						<key>ID</key>
						<integer>12</integer>
						<key>Info</key>
						<integer>1</integer>
					</dict>
					<key>ID</key>
					<integer>21</integer>
					<key>Points</key>
					<array>
						<string>{887.342, 731.507}</string>
						<string>{51.726, 1056.16}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Bezier</key>
							<true/>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0.2</string>
								<key>r</key>
								<string>0.8</string>
							</dict>
							<key>HeadArrow</key>
							<string>FilledArrow</string>
							<key>LineType</key>
							<integer>1</integer>
							<key>TailArrow</key>
							<string>FilledArrow</string>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
					<key>Tail</key>
					<dict>
						<key>ID</key>
						<integer>8</integer>
						<key>Info</key>
						<integer>2</integer>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ControlPoints</key>
					<array>
						<string>{176.712, -10.9589}</string>
						<string>{-72.6027, 138.356}</string>
					</array>
					<key>Head</key>
					<dict>
						<key>ID</key>
						<integer>8</integer>
						<key>Info</key>
						<integer>1</integer>
					</dict>
					<key>ID</key>
					<integer>20</integer>
					<key>Points</key>
					<array>
						<string>{462.685, 708.219}</string>
						<string>{714.74, 568.493}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Bezier</key>
							<true/>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0.2</string>
								<key>r</key>
								<string>0.8</string>
							</dict>
							<key>HeadArrow</key>
							<string>FilledArrow</string>
							<key>LineType</key>
							<integer>1</integer>
							<key>TailArrow</key>
							<string>FilledArrow</string>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
					<key>Tail</key>
					<dict>
						<key>ID</key>
						<integer>7</integer>
						<key>Info</key>
						<integer>2</integer>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ControlPoints</key>
					<array>
						<string>{145.206, 97.2603}</string>
						<string>{117.808, -80.8219}</string>
					</array>
					<key>Head</key>
					<dict>
						<key>ID</key>
						<integer>7</integer>
						<key>Info</key>
						<integer>1</integer>
					</dict>
					<key>ID</key>
					<integer>19</integer>
					<key>Points</key>
					<array>
						<string>{457.205, 268.493}</string>
						<string>{391.452, 575.342}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Bezier</key>
							<true/>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0.2</string>
								<key>r</key>
								<string>0.8</string>
							</dict>
							<key>HeadArrow</key>
							<string>FilledArrow</string>
							<key>LineType</key>
							<integer>1</integer>
							<key>TailArrow</key>
							<string>FilledArrow</string>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
					<key>Tail</key>
					<dict>
						<key>ID</key>
						<integer>4</integer>
						<key>Info</key>
						<integer>2</integer>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ControlPoints</key>
					<array>
						<string>{2.03451e-05, -0.456614}</string>
						<string>{0.356506, 0.354492}</string>
						<string>{-119.178, 343.836}</string>
						<string>{297.717, -143.379}</string>
					</array>
					<key>Head</key>
					<dict>
						<key>ID</key>
						<integer>6</integer>
						<key>Info</key>
						<integer>1</integer>
					</dict>
					<key>ID</key>
					<integer>18</integer>
					<key>Points</key>
					<array>
						<string>{954.466, 146.575}</string>
						<string>{954.466, 145.205}</string>
						<string>{61.315, 575.342}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Bezier</key>
							<true/>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0.2</string>
								<key>r</key>
								<string>0.8</string>
							</dict>
							<key>HeadArrow</key>
							<string>FilledArrow</string>
							<key>LineType</key>
							<integer>1</integer>
							<key>TailArrow</key>
							<string>FilledArrow</string>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
					<key>Tail</key>
					<dict>
						<key>ID</key>
						<integer>5</integer>
						<key>Info</key>
						<integer>2</integer>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ControlPoints</key>
					<array>
						<string>{261.644, 6.84932}</string>
						<string>{-89.0411, 22.3744}</string>
					</array>
					<key>Head</key>
					<dict>
						<key>ID</key>
						<integer>5</integer>
						<key>Info</key>
						<integer>1</integer>
					</dict>
					<key>ID</key>
					<integer>17</integer>
					<key>Points</key>
					<array>
						<string>{448.986, 138.356}</string>
						<string>{716.11, 71.2328}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Bezier</key>
							<true/>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0.2</string>
								<key>r</key>
								<string>0.8</string>
							</dict>
							<key>HeadArrow</key>
							<string>FilledArrow</string>
							<key>LineType</key>
							<integer>1</integer>
							<key>TailArrow</key>
							<string>FilledArrow</string>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
					<key>Tail</key>
					<dict>
						<key>ID</key>
						<integer>4</integer>
						<key>Info</key>
						<integer>1</integer>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ControlPoints</key>
					<array>
						<string>{76.7123, -156.164}</string>
						<string>{-121.461, 23.2877}</string>
					</array>
					<key>Head</key>
					<dict>
						<key>ID</key>
						<integer>4</integer>
						<key>Info</key>
						<integer>3</integer>
					</dict>
					<key>ID</key>
					<integer>15</integer>
					<key>Points</key>
					<array>
						<string>{272.274, 143.836}</string>
						<string>{636.657, 73.9726}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Bezier</key>
							<true/>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0.2</string>
								<key>r</key>
								<string>0.8</string>
							</dict>
							<key>HeadArrow</key>
							<string>FilledArrow</string>
							<key>LineType</key>
							<integer>1</integer>
							<key>TailArrow</key>
							<string>FilledArrow</string>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
					<key>Tail</key>
					<dict>
						<key>ID</key>
						<integer>3</integer>
						<key>Info</key>
						<integer>1</integer>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{11.9588, 1016.03}, {321, 479}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>12</integer>
					<key>ImageID</key>
					<integer>15</integer>
					<key>Magnets</key>
					<array>
						<string>{-0.376115, -0.416207}</string>
						<string>{0.259741, 0.121443}</string>
					</array>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{671.713, 1020.14}, {321, 481.5}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>10</integer>
					<key>ImageID</key>
					<integer>14</integer>
					<key>Magnets</key>
					<array>
						<string>{-0.429972, 0.0214865}</string>
					</array>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{341.836, 1016.03}, {321, 481.5}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>9</integer>
					<key>ImageID</key>
					<integer>13</integer>
					<key>Magnets</key>
					<array>
						<string>{0.234946, 0.0726962}</string>
						<string>{-0.311292, -0.0610182}</string>
					</array>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{665.836, 527.527}, {320, 478}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>8</integer>
					<key>ImageID</key>
					<integer>12</integer>
					<key>Magnets</key>
					<array>
						<string>{-0.347175, -0.414298}</string>
						<string>{0.192209, -0.073265}</string>
					</array>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{341.836, 526.027}, {324, 481}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>7</integer>
					<key>ImageID</key>
					<integer>11</integer>
					<key>Magnets</key>
					<array>
						<string>{-0.346863, -0.397474}</string>
						<string>{-0.127009, -0.121223}</string>
					</array>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{11.9589, 526.027}, {321, 481}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>6</integer>
					<key>ImageID</key>
					<integer>10</integer>
					<key>Magnets</key>
					<array>
						<string>{-0.346243, -0.397474}</string>
					</array>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{664, 34.0275}, {323, 481}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>5</integer>
					<key>ImageID</key>
					<integer>9</integer>
					<key>Magnets</key>
					<array>
						<string>{-0.33867, -0.42265}</string>
						<string>{0.399274, -0.266013}</string>
					</array>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{337.48, 34.0275}, {322, 483}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>4</integer>
					<key>ImageID</key>
					<integer>8</integer>
					<key>Magnets</key>
					<array>
						<string>{-0.153706, -0.283999}</string>
						<string>{-0.12818, -0.0145639}</string>
						<string>{0.429124, -0.417298}</string>
					</array>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
							<key>GradientColor</key>
							<dict>
								<key>w</key>
								<string>0.666667</string>
							</dict>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{10.9589, 34.0275}, {322, 482}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>3</integer>
					<key>ImageID</key>
					<integer>7</integer>
					<key>Magnets</key>
					<array>
						<string>{0.311537, -0.272182}</string>
					</array>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
			</array>
			<key>GridInfo</key>
			<dict/>
			<key>HPages</key>
			<integer>2</integer>
			<key>KeepToScale</key>
			<false/>
			<key>Layers</key>
			<array>
				<dict>
					<key>Lock</key>
					<string>NO</string>
					<key>Name</key>
					<string>Calque 1</string>
					<key>Print</key>
					<string>YES</string>
					<key>View</key>
					<string>YES</string>
				</dict>
			</array>
			<key>LayoutInfo</key>
			<dict>
				<key>Animate</key>
				<string>NO</string>
				<key>circoMinDist</key>
				<real>18</real>
				<key>circoSeparation</key>
				<real>0.0</real>
				<key>layoutEngine</key>
				<string>dot</string>
				<key>neatoSeparation</key>
				<real>0.0</real>
				<key>twopiSeparation</key>
				<real>0.0</real>
			</dict>
			<key>Orientation</key>
			<integer>2</integer>
			<key>PrintOnePage</key>
			<false/>
			<key>RowAlign</key>
			<integer>1</integer>
			<key>RowSpacing</key>
			<real>36</real>
			<key>SheetTitle</key>
			<string>iPhone</string>
			<key>UniqueID</key>
			<integer>2</integer>
			<key>VPages</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UseEntirePage</key>
	<false/>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>1</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>iPad</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{54, 0}, {1386, 878}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{-1005, -122}, {3127.5, 1810}}</string>
		<key>Zoom</key>
		<real>0.40000000596046448</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>iPad</string>
				<real>0.73000001907348633</real>
				<real>0.72000002861022949</real>
			</array>
			<array>
				<string>iPhone</string>
				<real>0.40000000596046448</real>
				<real>0.43000000715255737</real>
			</array>
		</array>
	</dict>
	<key>saveQuickLookFiles</key>
	<string>YES</string>
</dict>
</plist>
