<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HeightElement</key>
	<integer>120</integer>
	<key>HeightElementIPad</key>
	<integer>70</integer>
	<key>ItemLogo</key>
	<dict>
		<key>About</key>
		<string>Information.png</string>
		<key>Directory</key>
		<string>Directory.png</string>
		<key>Map</key>
		<string>Maps.png</string>
		<key>News</key>
		<string>news.png</string>
		<key>Settings</key>
		<string>SystemPreferences.png</string>
		<key>Calendar</key>
		<string>SystemPreferences.png</string>
	</dict>
	<key>ListItem</key>
	<array>
		<string>News</string>
		<string>Map</string>
		<string>Directory</string>
		<string>Settings</string>
		<string>About</string>
		<string>Calendar</string>
	</array>
	<key>WidthElement</key>
	<integer>100</integer>
</dict>
</plist>
